{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link type="text/css" href="{% static 'notes/css/notes.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
<div class="container d-flex flex-column align-items-center">
    <h2 class="text-center mb-4 animated-title">Your Notes</h2>

    <form method="post" class="w-50 mb-4 d-flex animated-form">
        {% csrf_token %}
        <input type="text" name="note" class="form-control me-2" placeholder="Enter your note here" style="min-width: 200px">
        <button type="submit" class="btn btn-success">
            <i class="fas fa-pencil-alt"></i> Save
        </button>
    </form>

    <ul class="list-group w-50 mt-3 animated-list">
        {% for note in notes %}
            <li class="list-group-item d-flex justify-content-between align-items-center" style="min-width: 250px">
                <span>{{ note.note }}</span>
                <form method="post" action="{% url 'delete_note' note.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success">
                        <i class="fas fa-check"></i>
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}